/* General Styles */
html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
main.flex-fill {
    flex: 1 0 auto;
}

/* Icon Styling */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Typography */
.logo-font {
    text-transform: uppercase;
}
.main-logo-link {
    width: fit-content;
}


/* Buttons */
.shop-now-button{
    background: black;
    color: white;
    min-width: 200px !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    color: white;
}

.border-black {
    border: 1px solid black !important;
}
header {
    flex-shrink: 0;
}
.header-spacer {
    width: 100%;
    height: 55.6px;
}
footer {
    flex-shrink: 0;
}


/* Media Queries */
@media (min-width: 768px) {
    .header-spacer {
      height: 118.04px;
    }
  }

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
