{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <!-- Centered Text Section -->
        <div class="col-12 col-md-8 text-center">
            <h1 class="display-4 logo-font text-black">
                404 Not Found
            </h1>
            <p class="lead text-muted">
                The page you are looking for does not exist or has been moved.
            </p>
            <div class="mt-4">
                <a href="{% url 'products' %}" class="btn btn-dark btn-lg rounded-0 text-uppercase py-3">
                    Return to Shop
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}